/* PHASE 3: Content */

.content {
    width: 900px;
    background-color: white;
    min-height: 300px;
    margin: auto;
    border: solid 1px #eee;

}

.content-sidebar {
    display: block;
    float: left;
    width: 200px;
    padding: 20px;
}

.content-main {
    width: 620px;
    display: block;
    float: right;
    padding: 20px;
}

.content h1 {
font-size: 24px;
font-weight: 700;
padding: 0px 10px 20px 0px;
}

.content p {

} 