
<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </nav>

    <img class="logo" src="assets/AA_Times_Logo.png" alt="logo">

    <nav class="masthead-links">
        <ul>
             <li>
                <time>Tuesday, October 18, 2016</time>
            </li>

            <li>
                <a href="#"><i class="fa fa-newspaper"></i>Today’s Paper</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-video"></i>Video</a>
            </li>

            <li>
                <button>77°F </button>
            </li>

            <li>
                <button>AAO +100%</button>
            </li>
        </ul>
    </nav>
</header>





