<section id="search-modal" class ="search-modal">
    <ul>
            <li id="search-area">
            <form action="#" >

            <input type="text" name="search-area"  class="search-area">
            </li>

            <li id="go-btn">
            <input type="submit" name="GO" value= "GO">
            </form>
            </li>

            <li>
             <button class="close">
            <i class="fa fa-times-circle"></i>
             </button>
            </li>
    </ul>
</section>