<nav id="sections-sidebar" class ='sections-sidebar'>
    <ul>
        <li>
            <a href="#">World</a>
        </li>

        <li class="dropdown">

            <a href="#">San Francisco</a>
            <ul>
            <span>San Francisco</span>
                <li> <a href ="#">Students</a></li>
                <li> <a href ="#">Teaching Assistants</a></li>
                <li> <a href ="#">Instructors</a></li>
                <li> <a href ="#">Career Advisors</a></li>
                <li> <a href ="#">Cats  </a></li>
            </ul>

          </li>

        <li>
            <a href="#">New York</a>
        </li>
        <li class="dropdown">
            
            <a href="#">Bootcamp Prep</a>
            
            <ul>
            <span> Bootcamp Prep</span>
                    <li> <a href="#">Students</a></li>
                    <li> <a href="#">Instructors</a></li>
                    <li> <a href="#">Cats </a></li>
            </ul>
        </li>
        <li>
            <a href="#">Jumpstart</a>
        </li>
        <li class="dropdown">
        
            <a href="#">Online</a>
            <ul>
            <span>Online</span>
                        <li><a href="#">Immersive</a></li>
                        <li><a href="#">Bootcamp Prep</a></li>
                        <li><a href="#">Cats</a></li>
            </ul>

        </li>
        <li>
            <a href="#">Marketing</a>
        </li>
        <li class="dropdown">
        
            <a href="#">Sales</a>
           
            <ul>
            <span>Sales</span>
                <li><a href="#">Associates</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Cats</a></li>
            </ul>

        </li>
        <li>
            <a href="#">TalentMatch</a>
        </li>
         <li class="dropdown">

            <a href="#">Alumni</a>
            <ul>
            <span>Alumni</span>
                <li><a href="#">Students</a></li>
                <li><a href="#">Companies</a></li>
                <li><a href="#">Opinions</a></li>
                <li><a href="#">Cats</a></li>
            </ul>

        </li>
        <li>
            <a id="sections-all" href="#">All</a>
        </li>
    </ul>
</nav>