
<b>Your Feed!</b>
<%= render 'tweets/form' %>

<div class="infinite-tweets">
  <ul id="feed">
  </ul>
  <ul>
  <button class="fetch-more">Fetch More</button>
  <button hidden="hidden" class="insert-tweet"></button>
  </ul>  

</div>



<!-- 
 <%# <% @feed_tweets.each do |tweet| %> %>
      <%# <li><%= render 'tweets/tweet', tweet: tweet%> </li> %>
    <%# <% end %> %>

-->