/* PHASE 4: Footer */
footer{
    display: block;
    height: 30px;
    margin: 0 20px 0px 20px;
    color: cadetblue;
    border: 1px solid black;
}
.copyright{
    display: block;
    height: 30px;
    float: left;
}
.copyright::after{
    content: "";
    display: block;
    clear: both;
}
.footer-links{
    display: block;
    height: 30px;
    float: right;
    padding-left: 10px;
}